$breakpoint: 480px;
$slate: #DDDDDD;
$dark-slate: #535353;
$green: #54F291;
$light-blue: #54CFF2;

.divider {
    border: 3px solid $dark-slate;
    width: 100%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.vertical-divider {
    border-left: 6px solid $dark-slate;
    border-radius: 8px;
    height: 200px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

@mixin visible-only-below-breakpoint ($standard-display) {
    display: $standard-display;
    @media (min-width: $breakpoint) {
        display: none;
    }
}

@mixin visible-only-above-breakpoint ($standard-display) {
    display: none;
    @media (min-width: $breakpoint) {
        display: $standard-display;
    }
}

@mixin shadow {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    border-radius: 8px;
    padding: 15px;
}

@mixin hide-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
  
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@mixin styled-scrollbar {
    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
        background: white;
        
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $dark-slate;
        border-radius: 8px;
        margin-top: 5px;
        margin-bottom: 5px; 
        margin-left: 5px;
        margin-right: 5px;
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        
    }
}

@mixin float {

    @keyframes floating-animation {
        0% {
            // go down
            transform: translateY(0px);
        }
    
        50% {
            // go up
            transform: translateY(-5px);
        }
        
        100% {
            transform: translateY(0px);
        }
    }

    animation: floating-animation 2s ease-in-out 0s infinite;
}


