$breakpoint: 480px;
$slate: #DDDDDD;
$dark-slate: #535353;
$green: #54F291;

.divider {
    border: 2px solid $dark-slate;
    width: 100%;
    margin-top: 5%;
}

@mixin shadow {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    border-radius: 8px;
    padding: 15px;
}

@mixin float {

    @keyframes floating-animation {
        0% {
            // go down
            transform: translateY(0px);
        }
    
        50% {
            // go up
            transform: translateY(-5px);
        }
        
        100% {
            transform: translateY(0px);
        }
    }

    animation: floating-animation 2s ease-in-out 0s infinite;
}


