#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.animate-title {
    animation: header-animation;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-duration: 1s;
}