@import "./../../css\ modules/variables";
.nav-link {
    @include shadow;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    column-span: 1;
    color: white;
    font-size: 2rem;


    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    transition: all 0.25s ease-in-out;


}

.nav-seperator {
    column-span: 2;
}

#div-container {
    display: flex;
    justify-content: center;
    height: min-content;
    width: 75%;
   
    border-radius: 8px;

    margin-bottom: 2.5vh;
    margin-left: auto;
    margin-right: auto;

    font-size: 36px;
    font-weight: bold;

    @include xs {
        display: none;
        flex-direction: column;
    }

    @include lg {
        display: block;
        flex-direction: row;
    }

}

#nav-button {
    display: none;

    display: block;

    @include lg {
        display: none;
    }

    @include xs {
        width: 20vw;
    }

}

