@import "./../../css\ modules/variables";

.signup-box {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    margin-top: 7%;
    width:min-content;
    padding: 2%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

    @media (max-width: $breakpoint) {
        max-width: $breakpoint;
    }

}

.signup-box-header {
    margin-bottom: 2%;
    margin-top: 1%;
    font-size: 48px;
    color: white;
    
    @media (max-width: $breakpoint) {
        font-size: 24px;
    }
}

.signup-box-input {
    @include shadow;
    margin-top: 7%;
    margin-bottom: 7%;
    font-size: 22pt;
    background-color: $very-dark-slate;
    padding: 4px;

    transition-property: background-color;
    transition-duration: 0.5s;
    appearance: none;
    border-radius: 8px;
    border: none;
    color: white;

    &:focus {
        background-color: $dark-slate;
        outline: none;
    }

    @media (max-width: $breakpoint) {
        font-size: 24px;
        margin-top: 4%;
        margin-bottom: 4%;
    }
}



.signup-box-button {
    @include shadow;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    align-self: flex-end;
    background-color: $slate;
    border-radius: 8px;
    border: none;
    background-color: $very-dark-slate;
    color: white;
    font-size: 1.2rem;

    transition: background-color 0.5s ease;

    &:hover {
        background-color: $dark-slate;
        cursor: pointer;
    }

}


.signup-description {
    width: auto;
    margin-top: 2%;
    font-size: 20px;

    @media (max-width: $breakpoint) {
        
    }
    
}

.already-have-account-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 5%;
    color: white;
}

#signin-button {
    @include shadow;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    align-self: flex-end;
    background-color: $very-dark-slate;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    border: none;

    transition: background-color 0.5s ease;

    &:hover {
        background-color: $dark-slate;
        cursor: pointer;
    }

}

#passwords-do-not-match {
    color: red;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    display: none;
}

#password-requirements {
    color: red;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    display: none;
}

.already-have-account-description {
    margin-top: 2%;
    font-size: 20px;
    margin-bottom: 2%;
}

