@import "./../../css\ modules/variables";

#social-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    transition: opacity 0.2s ease-in-out;

    @media (max-width: $breakpoint) {
        flex-direction: column;
        align-items: center;
    }
    
}

.servers-bar {
    @include shadow;
    @include hide-scrollbar;
    width: 12%;
    height: 83vh;
    border-radius: 8px;
    margin-left: 0.5rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    @media (max-width: $breakpoint) {
        flex-direction: row;
        height: fit-content;
        overflow-x: scroll;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
        
    }

}

.open-server {
    @include shadow;
    width: 84%;
    height: 83vh;
    border-radius: 8px;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    left: 11%;
}

.server-button {
    @include shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 8px;

    font-size: 1.55rem;

    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media (max-width: $breakpoint) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    

    &:hover {
        cursor: pointer;
        background-color: $slate;
        @include shadow;
    }
    width: 90%;

    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, padding 0.2s ease-in-out;   


}

.server-messages {
    @include styled-scrollbar;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 90%;
    overflow-y: scroll;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#message-input {
    @include shadow;
    height: 5%;
    width: 90%;
    border-radius: 8px;
    font-size: 2rem;
    color: white;
    background-color: $dark-slate;

}

.message {
    @include shadow;
    max-width: 75%;
    height: fit-content;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: $dark-slate;
    color: white;
    align-self: flex-start;
    margin-left: 1rem;
}

.message-from-current-user {
    align-self: flex-end;
    margin-right: 1rem;
    margin-left: 0rem;
}


.message-author {
    font-size: 1.25rem;
    font-weight: bold;
    color: $green;
}

#server-creation-window {
    @include shadow;
    position: fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    background-color: white;
    border-radius: 8px;

    @keyframes fly-in {
        0% {
   
            opacity: 0%;
        }
        100% {
        
            opacity: 90%;
        }
    }

    animation: fly-in 1s ease;
    display: none;
    flex-direction: column;
    align-items: center;
}

.create-new-server-button {
    @include shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 8px;
    background-color: $slate;

    font-size: 1.55rem;

    margin: 1rem 1rem 1rem 1rem;

    &:hover {
        cursor: pointer;
        background-color: $dark-slate;
        color: white;
        @include shadow;
    }

    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, padding 0.2s ease-in-out, color 0.2s ease-in-out; 
}

.server-creation-window-header {
    @include shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

}

.text-input {
    @include shadow;
    margin-top: 1rem;
    width: 90%;
    height: 5%;
    border-radius: 8px;
    font-size: 2rem;
    color: black;
    background-color: $slate;
    font-family: "Quicksand", sans-serif;
    width: 75%;
    align-self: center;

    &:focus {
        cursor: text;
    }

}

.server-creation-server-name-header {
    @include shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.55rem;
    font-weight: bold;
    color: black;
    width: fit-content;
    height: fit-content;
    margin-top: 3rem;
    align-self: center;
    
}

.exit-server-creation-window-button {
    background-color: $slate;
    border-radius: 8px;
    font-size: 3rem;align-self: flex-start;
    position: absolute;
    left: 1rem;
    top: 1rem;

    text-align: center;

    width: 4rem;
    height: 4rem;

    opacity: 50%;

    &:hover {
        cursor: pointer;
        opacity: 100%;
    }

    transition: opacity 0.3s ease;

}

.finish-creating-server-button {
    @extend .create-new-server-button;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin-top: 2rem;
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;
}

.server-bar-divider-horizontal {
    @include visible-only-above-breakpoint(flex);
    @extend .divider;
}

.server-bar-divider-vertical {
    @include visible-only-below-breakpoint (flex);
    @extend .vertical-divider;
}

.join-server-button {
    @extend .create-new-server-button;
}

#join-server-window {
    @extend #server-creation-window;
}

.join-server-header {
    @extend .server-creation-window-header;
}

.server-join-server-invite-header {
    @extend .server-creation-server-name-header;
}

#finish-joining-server-button {
    @extend .finish-creating-server-button;
}

.server-info-bar {
    @include shadow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $dark-slate;
    border-radius: 8px;
    width: 94%;
    height: 12%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#server-info-bar-server-name {
    @include shadow;
    font-size: 2rem;
    color: black;
    background-color: white;
    display: none;
    width: 50%;
    text-align: center;
}

.server-bar-owner-icon {
    @include shadow;
    max-width: 2rem;
    height: fit-content;
    background-color: white;
    text-align: center;
    display: flex;
    margin-left: 1rem;
    opacity: 90%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.server-options-button {
    @extend .create-new-server-button;
    background-color: $dark-slate;
    color: white;
    flex-grow: 1;
}

#server-options-window {
    @extend #server-creation-window;
    // make it larger than the other windows
    width: 80%;
    height: fit-content;
    top: auto;
    left: auto;
    bottom: 10%;
    right: 10%;
    flex-direction: column;
    overflow-y: scroll;
}

.server-options-header {
    @extend .server-creation-window-header;
}

.exit-server-options-window-button {
    @extend .exit-server-creation-window-button;
}

.server-options-window-header {
    @extend .server-creation-window-header;
}

#server-options-window-server-name-input {
    @extend .text-input;
    margin-top: 2rem;
    text-align: center;
}

#server-options-window-apply-changes-button {
    @extend .finish-creating-server-button;
    margin-top: auto;
}

#server-options-window-server-invite-list {
    @include hide-scrollbar;
    @include shadow;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 36rem;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 40%;
    background-color: white;
    border-radius: 8px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 2rem;

    @media (max-width: $breakpoint) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.server-options-window-server-invite-list-item {
    @include shadow;
    max-width: 75%;
    height: fit-content;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: $slate;
    color: white;
    align-self: flex-start;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.server-options-window-remove-invite-button {
    @extend .create-new-server-button;
    background-color: $slate;
    color: white;
    margin-top: auto;
    &:hover {
        cursor: pointer;
        background-color: $dark-slate;
        @include shadow;
    }
}

.server-options-window-server-invite-list-header {
    @extend .server-creation-server-name-header;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: fit-content;
    height: fit-content;
    background-color: $dark-slate;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    
}

.server-options-window-add-invite-button {
    @extend .create-new-server-button;
    background-color: $dark-slate;
    color: white;
    margin-bottom: auto;
    &:hover {
        cursor: pointer;
        background-color: $slate;
        @include shadow;
    }
    font-size: 5rem;
    width: 6rem;
    height: 6rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.exit-open-server-button {
    @extend .server-options-button;
    font-size: 2rem;
}

.leave-server-button {
    @extend .server-options-button;
    font-size: 2rem;
    max-height: 10%;
    
}

#confirm-leave-server-window {
    @extend #server-creation-window;
    width: 50%;
    height: fit-content;
    padding-top: 5rem;
    padding-bottom: 5rem;
    top: 25%;
    left: 25%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    display: none;

}

.confirm-leave-server-window-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
}

.confirm-leave-server-window-header {
    @extend .server-creation-window-header;
}

.confirm-leave-server-window-yes-button {
    @extend .finish-creating-server-button;
    width: 100%;
    margin-right: 5rem;
    margin-left: 5rem;
}

.confirm-leave-server-window-no-button {
    @extend .finish-creating-server-button;
    width: 100%;
    margin-right: 5rem;
    margin-left: 5rem;
}
