.divider, .server-bar-divider-horizontal {
  border: 3px solid #535353;
  width: 100%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.vertical-divider, .server-bar-divider-vertical {
  border-left: 6px solid #535353;
  border-radius: 8px;
  height: 200px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

#social-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  transition: opacity 0.2s ease-in-out;
}
@media (max-width: 480px) {
  #social-container {
    flex-direction: column;
    align-items: center;
  }
}

.servers-bar {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: 12%;
  height: 83vh;
  border-radius: 8px;
  margin-left: 0.5rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.servers-bar::-webkit-scrollbar {
  display: none;
}
@media (max-width: 480px) {
  .servers-bar {
    flex-direction: row;
    height: fit-content;
    overflow-x: scroll;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
}

.open-server {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  width: 84%;
  height: 83vh;
  border-radius: 8px;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  left: 11%;
}

.server-button {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.55rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, padding 0.2s ease-in-out;
}
@media (max-width: 480px) {
  .server-button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
.server-button:hover {
  cursor: pointer;
  background-color: #DDDDDD;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
}

.server-messages {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 90%;
  overflow-y: scroll;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.server-messages::-webkit-scrollbar {
  width: 10px;
}
.server-messages::-webkit-scrollbar-track {
  background: white;
}
.server-messages::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
#message-input {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  height: 5%;
  width: 90%;
  border-radius: 8px;
  font-size: 2rem;
  color: white;
  background-color: #535353;
}

.message {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  max-width: 75%;
  height: fit-content;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #535353;
  color: white;
  align-self: flex-start;
  margin-left: 1rem;
}

.message-from-current-user {
  align-self: flex-end;
  margin-right: 1rem;
  margin-left: 0rem;
}

.message-author {
  font-size: 1.25rem;
  font-weight: bold;
  color: #54F291;
}

#server-creation-window, #confirm-leave-server-window, #server-options-window, #join-server-window {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  position: fixed;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  background-color: white;
  border-radius: 8px;
  animation: fly-in 1s ease;
  display: none;
  flex-direction: column;
  align-items: center;
}
@keyframes fly-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 90%;
  }
}

.create-new-server-button, .server-options-window-add-invite-button, .server-options-window-remove-invite-button, .server-options-button, .leave-server-button, .exit-open-server-button, .join-server-button, .finish-creating-server-button, .confirm-leave-server-window-no-button, .confirm-leave-server-window-yes-button, #server-options-window-apply-changes-button, #finish-joining-server-button {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 8px;
  background-color: #DDDDDD;
  font-size: 1.55rem;
  margin: 1rem 1rem 1rem 1rem;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, padding 0.2s ease-in-out, color 0.2s ease-in-out;
}
.create-new-server-button:hover, .server-options-window-add-invite-button:hover, .server-options-window-remove-invite-button:hover, .server-options-button:hover, .leave-server-button:hover, .exit-open-server-button:hover, .join-server-button:hover, .finish-creating-server-button:hover, .confirm-leave-server-window-no-button:hover, .confirm-leave-server-window-yes-button:hover, #server-options-window-apply-changes-button:hover, #finish-joining-server-button:hover {
  cursor: pointer;
  background-color: #535353;
  color: white;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
}

.server-creation-window-header, .confirm-leave-server-window-header, .server-options-window-header, .server-options-header, .join-server-header {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.text-input, #server-options-window-server-name-input {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  margin-top: 1rem;
  width: 90%;
  height: 5%;
  border-radius: 8px;
  font-size: 2rem;
  color: black;
  background-color: #DDDDDD;
  font-family: "Quicksand", sans-serif;
  width: 75%;
  align-self: center;
}
.text-input:focus, #server-options-window-server-name-input:focus {
  cursor: text;
}

.server-creation-server-name-header, .server-options-window-server-invite-list-header, .server-join-server-invite-header {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.55rem;
  font-weight: bold;
  color: black;
  width: fit-content;
  height: fit-content;
  margin-top: 3rem;
  align-self: center;
}

.exit-server-creation-window-button, .exit-server-options-window-button {
  background-color: #DDDDDD;
  border-radius: 8px;
  font-size: 3rem;
  align-self: flex-start;
  position: absolute;
  left: 1rem;
  top: 1rem;
  text-align: center;
  width: 4rem;
  height: 4rem;
  opacity: 50%;
  transition: opacity 0.3s ease;
}
.exit-server-creation-window-button:hover, .exit-server-options-window-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.finish-creating-server-button, .confirm-leave-server-window-no-button, .confirm-leave-server-window-yes-button, #server-options-window-apply-changes-button, #finish-joining-server-button {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin-top: 2rem;
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
}

.server-bar-divider-horizontal {
  display: none;
}
@media (min-width: 480px) {
  .server-bar-divider-horizontal {
    display: flex;
  }
}

.server-bar-divider-vertical {
  display: flex;
}
@media (min-width: 480px) {
  .server-bar-divider-vertical {
    display: none;
  }
}

.server-info-bar {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #535353;
  border-radius: 8px;
  width: 94%;
  height: 12%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#server-info-bar-server-name {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  color: black;
  background-color: white;
  display: none;
  width: 50%;
  text-align: center;
}

.server-bar-owner-icon {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  max-width: 2rem;
  height: fit-content;
  background-color: white;
  text-align: center;
  display: flex;
  margin-left: 1rem;
  opacity: 90%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.server-options-button, .leave-server-button, .exit-open-server-button {
  background-color: #535353;
  color: white;
  flex-grow: 1;
}

#server-options-window {
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: 80%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
  bottom: 0%;
  top: 0%;
  left: 0%;
  right: 0%;
  flex-direction: column;
  overflow-y: scroll;
}
#server-options-window::-webkit-scrollbar {
  display: none;
}

#server-options-window-server-name-input {
  margin-top: 2rem;
  text-align: center;
}

#server-options-window-apply-changes-button {
  margin-top: auto;
}

#server-options-window-server-invite-list {
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 36rem;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 40%;
  background-color: white;
  border-radius: 8px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
}
#server-options-window-server-invite-list::-webkit-scrollbar {
  display: none;
}
@media (max-width: 480px) {
  #server-options-window-server-invite-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.server-options-window-server-invite-list-item {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  max-width: 75%;
  height: fit-content;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #DDDDDD;
  color: white;
  align-self: flex-start;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.server-options-window-remove-invite-button {
  background-color: #DDDDDD;
  color: white;
  margin-top: auto;
}
.server-options-window-remove-invite-button:hover {
  cursor: pointer;
  background-color: #535353;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
}

.server-options-window-server-invite-list-header {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: fit-content;
  height: fit-content;
  background-color: #535353;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
}

.server-options-window-add-invite-button {
  background-color: #535353;
  color: white;
  margin-bottom: auto;
  font-size: 5rem;
  width: 6rem;
  height: 6rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.server-options-window-add-invite-button:hover {
  cursor: pointer;
  background-color: #DDDDDD;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
}

.exit-open-server-button {
  font-size: 2rem;
}

.leave-server-button {
  font-size: 2rem;
  max-height: 10%;
}

#confirm-leave-server-window {
  width: 50%;
  height: fit-content;
  padding-top: 5rem;
  padding-bottom: 5rem;
  top: 25%;
  left: 25%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  display: none;
}

.confirm-leave-server-window-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2rem;
}

.confirm-leave-server-window-yes-button {
  width: 100%;
  margin-right: 5rem;
  margin-left: 5rem;
}

.confirm-leave-server-window-no-button {
  width: 100%;
  margin-right: 5rem;
  margin-left: 5rem;
}

/*# sourceMappingURL=social.css.map */
