@import "./../../css\ modules/variables";

.habits-container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 4vw;

    @media (max-width: $breakpoint) {
        flex-direction: column;
        height: fit-content;
    }
}

.habits-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#habits-bar {
    @include fly-in-left;
    @include shadow;
    @include styled-scrollbar;
    height: fit-content;
    min-width: 10vw;
    margin-left: 0.5vw;

    display: flex;
    flex-direction: column;
    gap: 1%;
    overflow-y: auto;

    background-color: $very-dark-slate;
    color: white;

    @media (max-width: $breakpoint) {
        margin-top: 4vh;
        margin-bottom: 4vh;
        width: 100%;
        height: fit-content;
        overflow-x: auto;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }

}

.habits-bar-link {
    @include shadow-no-padding;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
        background-color: $slate;
        color: black;
    }

    transition: all 0.2s ease-in-out;
}

#happiness-graph {
    @include shadow;
    height: fit-content;
    width: 90%;
    margin-top: 1vh;
    padding: 1vw;
    border-radius: 8px;
    height: 50%;
    background-color: $very-dark-slate;

    @media (max-width: $breakpoint) {
        margin-top: 4vh;
        margin-bottom: 4vh;
        width: 100%;
        height: fit-content;
        margin-right: auto;
        margin-left: auto;
        overflow-x: auto;
    }
}

.happiness-graph-header {
    @include shadow;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#daily-rating-window {
    @include shadow;
    @include styled-scrollbar;
    margin-top: 1vh;
    padding: 2rem;
    border-radius: 8px;
    background-color: $very-dark-slate;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;

    height: 75%;
    width: 50%;
    overflow-y: scroll;
}

.daily-rating-window-exit-button {
    position: absolute;
    left: 0;
    top: 0;
    margin: 1vw;
    font-size: 24px;
    color: white;
    cursor: pointer;
    color: white;
    background-color: $very-dark-slate;
    border-radius: 8px;
    padding: 10px;
}


.daily-rating-window-header {
    @include shadow;
    font-size: 3rem;;
    font-weight: bold;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.daily-rating-window-sub-header {
    @include shadow;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.daily-rating-input-panel {
    @include shadow;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}

.daily-rating-input-button {
    @include shadow;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: $very-dark-slate;
    border-radius: 8px;
    padding: 10px;
    width: fit-content;
    
    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }

    transition: all 0.2s ease-in-out;
}

.daily-rating-input-button-selected {
    @extend .daily-rating-input-button;
    @include shadow-no-padding;
    background-color: $slate;
    color: black;
    transform: translateY(-10px)
}

.daily-rating-text-input {
    @include shadow;
    font-size: 2rem;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: $very-dark-slate;
    border-radius: 8px;
    width: 90%;
    height: 4rem;
    margin-top: 2.5rem;
    border: none;
}

.current-daily-rating-header {
    @include shadow;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

.current-daily-rating {
    @include shadow;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.25rem;
    background-color: $very-dark-slate;
}

.daily-rating-submit-button {
    @include shadow;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 5rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: $very-dark-slate;
    border-radius: 8px;
    padding: 1.5rem;
    width: fit-content;

    
    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }

    transition: all 0.2s ease-in-out;
}

#habit-creator-window {
    @include shadow;
    @include styled-scrollbar;
    height: 90%;
    width: 75%;
    margin-top: 1vh;
    padding: 2rem;
    border-radius: 8px;
    background-color: $very-dark-slate;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    overflow-y: scroll;
}

.habit-creator-window-header {
    @include shadow;
    font-size: 3rem;;
    font-weight: bold;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.habit-creator-window-exit-button {
    @extend .daily-rating-window-exit-button;
}

#habit-creator-window-name-input {
    @include shadow;
    font-size: 2.5rem;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    background-color: $very-dark-slate;
    border-radius: 8px;
    width: fit-content;
    border: none;
}

.implementation-intention-header {
    @include shadow;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1vh;
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.implementation-intention-input-area {
    // I will [BEHAVIOR] at [TIME] in [LOCATION]
    // grid
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    align-items: center;
}

.implementation-intention-sub-label {
    @include shadow;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;
}

.implementation-intention-input {
    @include shadow;
    font-size: 2rem;
    margin-bottom: 1vh;
    color: white;
    margin-left: 1.75rem;
    background-color: $very-dark-slate;
    border-radius: 8px;
    width: max;
    height: 4rem;
    border: none;
}

.the-laws-header {
    @extend .implementation-intention-header;
}

.the-laws-input-area {
    @extend .implementation-intention-input-area;
}

#create-habit-button {
    @include shadow;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    background-color: $very-dark-slate;
    border-radius: 8px;
    padding: 1.5rem;
    width: fit-content;

    
    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }

    transition: all 0.2s ease-in-out;
}

#habit-resistor-window {
    @extend #habit-creator-window;
}

.habit-resistor-window-exit-button {
    @extend .daily-rating-window-exit-button;
}

.habit-resistor-window-header {
    @extend .daily-rating-window-header;
}

#resist-habit-button {
    @extend #create-habit-button;
}

#habit-stack-creator-window {
    @extend #habit-creator-window;
    overflow-y: scroll;
    height: 90%;
}

.habit-stack-creator-window-exit-button {
    @extend .daily-rating-window-exit-button;
}

.habit-stack-creator-window-header {
    @extend .daily-rating-window-header;
}

#habit-stack-area {
    // this is the area where each individual habit is displayed
    @include shadow;
    @include styled-scrollbar;
    background-color: $very-dark-slate;
    margin-top: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

#finish-creating-habit-stack-button {
    @extend #create-habit-button;
}

.habit-stack-habit {
    @include shadow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 1rem;
    
}

.habit-stack-move-habit-buttons {
    display: flex;
    flex-direction: column;
}

.habit-stack-move-habit-button {
    @include shadow;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: $very-dark-slate;
    border-radius: 8px;
    padding: 0px;
    color: white;

    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }

    transition: all 0.2s ease-in-out;
}

.habit-stack-delete-habit-button {
    @include shadow;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
    font-size: 2rem;
    background-color: $very-dark-slate;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }

    transition: all 0.2s ease-in-out;

}

.habit-stack-habit-name {
    @include shadow;
    @include styled-scrollbar;
    
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: $very-dark-slate;
    border-radius: 8px;
    height: 4rem;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    
}

.habit-stack-habit-creation-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#habit-stack-add-habit-button {
    @include shadow;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-top: 2rem;
    background-color: $very-dark-slate;
    border-radius: 8px;
    padding: 1.5rem;
    width: fit-content;

    
    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }

    transition: all 0.2s ease-in-out;
}

#habit-stack-habit-creation-input {
    @include shadow;
    font-size: 2rem;
    margin-bottom: 1vh;
    color: white;
    margin-left: 1.75rem;
    background-color: $very-dark-slate;
    border-radius: 8px;
    width: 100%;
    height: 4rem;
    margin-top: 2.5rem;
    border: none;
}

#habit-stack-name-input {
    @include shadow;
    font-size: 2rem;
    margin-bottom: 1vh;
    color: white;
    background-color: $very-dark-slate;
    border-radius: 8px;
    width: 80%;
    height: 4rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#habit-card-window {
    @extend #habit-creator-window;
    height: 80%;
}

.habit-card-window-exit-button {
    @extend .daily-rating-window-exit-button;
}

.habit-card-window-header {
    @extend .daily-rating-window-header;
}

.habit-card-window-habits-field {
    @include shadow;
    @include styled-scrollbar;
    background-color: $very-dark-slate;
    margin-top: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.habit-card-window-complete-button {
    @extend #create-habit-button;
}

.habit-card-window-add-habit-button {
    @extend #create-habit-button;
}

.habit-card-habit {
    @include shadow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 1rem;
}

.habit-card-habit-add-button {
    @include shadow;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
    font-size: 5rem;
    background-color: $very-dark-slate;
    border-radius: 8px;
    color: white;
    margin-left: auto;
    margin-right: auto;


    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }

    transition: all 0.2s ease-in-out;
}

.habit-card-habit-delete-button {
    @extend .habit-stack-delete-habit-button
}

.habit-card-habit-rate-buttons {
    // the field of three buttons
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: $very-dark-slate;
    height: 100%;
    width: fit-content;
}

.habit-card-habit-rate-button {
    // the individual button with a + = or - sign
    flex-grow: 1;
    font-size: 3rem;
    color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: $very-dark-slate;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
        @include shadow-no-padding;
        background-color: $slate;
        color: black;
    }

    transition: all 0.2s ease-in-out;

}

.habit-card-habit-rate-button-selected {
    // these are the properties of the selected rating button
    @extend .habit-card-habit-rate-button;
    @include shadow-no-padding;
    background-color: $slate;
    color: black;
    transform: translateY(-10px)
}

#habit-card-habit-name-input ,.habit-card-habit-name {
    @include shadow;
    @include styled-scrollbar;
    flex-grow: 1;
    height: 70%;
    color: white;
    background-color: $very-dark-slate;
    font-size: 2rem;
    text-align: center;
    max-width: 80%;
    overflow-x: scroll;
    border: none;
    
}

.habit-card-habit-rate-button-divider {
    border-left: 6px solid $dark-slate;
    border-radius: 8px;
    height: 2rem;
}

.habit-card-habit {
    @include shadow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 1rem;
    background-color: $very-dark-slate;
}

.habit-card-habit-rating {
    @include shadow-no-padding;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $very-dark-slate;
    color: white;
    font-size: 3.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.habit-card-habit-input {
    @include shadow;
    font-size: 2rem;
    color: white;
    background-color: $very-dark-slate;
    width: 92%;
    height: 4rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.todo-list-items {
    @include shadow;
    @include styled-scrollbar;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: $very-dark-slate;
    height: 60%;
    overflow-y: scroll;
}

.todo-list-item {
    @include shadow;
    font-size: 2rem;
    color: white;
    background-color: $very-dark-slate;
    width: 92%;
    height: 4rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.todo-list-item-name {
    @include shadow;
    flex-grow: 1;
    margin-right: 1rem;
}

.todo-list-item-remove-button {
    @include shadow;

    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
        background-color: $slate;
    }

    transition: all 0.2s ease-in-out;
}

.todo-list-input {
    @include shadow;
    font-size: 2rem;
    color: white;
    background-color: $very-dark-slate;
    width: 92%;
    height: 4rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.todo-list-name-input {
    @include shadow;
    font-size: 2rem;
    color: white;
    background-color: $very-dark-slate;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0rem;
    margin-right: 1.5rem;
    text-align: center;
    flex-grow: 1;
    border: none;
}

.todo-list-add-item-button {
    @include shadow;
    background-color: $very-dark-slate;
    color: white;
    font-size: 3rem;

    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
        background-color: $slate;
        color: black;
    }

    transition: all 0.2s ease-in-out;
}

.todo-list {
    @extend #happiness-graph;
    height: 50vh;
}

.todo-list-header {
    @extend .happiness-graph-header;
}

.daily-completion {
    @extend #happiness-graph;
}

.daily-completion-header {
    @extend .happiness-graph-header;
}

#day-info-window {
    @include shadow;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 50%;
    margin-top: 1rem;
    background-color: $very-dark-slate;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.day-info-day {
    @include shadow;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;

}

.day-info-exit-button {
    @extend .daily-rating-window-exit-button;
}

.habits-you-want-to-do-widget {
    @include shadow;
    background-color: $very-dark-slate;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    height: fit-content;
}

.habit-stacks-widget-habit-stacks {
    @include shadow;
    background-color: $very-dark-slate;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 80%;
}

.habits-you-want-to-do-list {
    @include shadow;
    @include styled-scrollbar;
    background-color: $very-dark-slate;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 40vh;
    overflow-y: scroll;
}

.habits-you-want-to-do-list-item {
    @include shadow;
    background-color: $very-dark-slate;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: fit-content;
    color: white;
    text-align: center;
    text-justify: center;
    font-size: 2rem;
    margin-bottom: 1rem;

}
