html {
  background-color: #2C2C2C;
}

.divider {
  border: 3px solid #535353;
  width: 100%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.vertical-divider {
  border-left: 6px solid #535353;
  border-radius: 8px;
  height: 200px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

@keyframes fly-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.habits-container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4vw;
}
@media (max-width: 480px) {
  .habits-container {
    flex-direction: column;
    height: fit-content;
  }
}

#habits-bar {
  animation: fly-in-left 1s ease;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  height: fit-content;
  min-width: 10vw;
  margin-left: 0.5vw;
  display: flex;
  flex-direction: column;
  gap: 1%;
  overflow-y: auto;
  background-color: #535353;
  color: white;
}
#habits-bar::-webkit-scrollbar {
  width: 10px;
}
#habits-bar::-webkit-scrollbar-track {
  background: #535353;
}
#habits-bar::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width: 480px) {
  #habits-bar {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 100%;
    height: fit-content;
    overflow-x: auto;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
}

.habits-bar-link {
  transition: box-shadow 0.5s ease, font-size 0.5s ease;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 8px;
}
.habits-bar-link:hover {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
  font-size: 28.8px;
}

#happiness-graph {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  height: fit-content;
  width: 35%;
  margin-top: 1vh;
  padding: 1vw;
  border-radius: 8px;
  height: 50%;
  background-color: #535353;
}
@media (max-width: 480px) {
  #happiness-graph {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 100%;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    overflow-x: auto;
  }
}

#daily-rating-window {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  height: clamp(fit-content, 50%, 50vh);
  min-width: clamp(fit-content, 50%, 50vw);
  margin-top: 1vh;
  padding: 2rem;
  border-radius: 8px;
  background-color: #535353;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
}

.daily-rating-window-exit-button, .habit-card-window-exit-button, .habit-stack-creator-window-exit-button, .habit-resistor-window-exit-button, .habit-creator-window-exit-button {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1vw;
  font-size: 24px;
  color: white;
  cursor: pointer;
  color: white;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 10px;
}

.daily-rating-window-header, .habit-card-window-header, .habit-stack-creator-window-header, .habit-resistor-window-header {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.daily-rating-input-panel {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  justify-content: center;
}

.daily-rating-input-button {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 10px;
  width: fit-content;
  transition: all 0.2s ease-in-out;
}
.daily-rating-input-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.current-daily-rating-header {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

.current-daily-rating {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.25rem;
  background-color: #2C2C2C;
}

.daily-rating-submit-button {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 5rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 1.5rem;
  width: fit-content;
  transition: all 0.2s ease-in-out;
}
.daily-rating-submit-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

#habit-creator-window, #habit-card-window, #habit-stack-creator-window, #habit-resistor-window {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  height: 50%;
  width: 50%;
  margin-top: 1vh;
  padding: 2rem;
  border-radius: 8px;
  background-color: #535353;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  overflow-y: scroll;
}
#habit-creator-window::-webkit-scrollbar, #habit-card-window::-webkit-scrollbar, #habit-stack-creator-window::-webkit-scrollbar, #habit-resistor-window::-webkit-scrollbar {
  width: 10px;
}
#habit-creator-window::-webkit-scrollbar-track, #habit-card-window::-webkit-scrollbar-track, #habit-stack-creator-window::-webkit-scrollbar-track, #habit-resistor-window::-webkit-scrollbar-track {
  background: #535353;
}
#habit-creator-window::-webkit-scrollbar-thumb, #habit-card-window::-webkit-scrollbar-thumb, #habit-stack-creator-window::-webkit-scrollbar-thumb, #habit-resistor-window::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.habit-creator-window-header {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#habit-creator-window-name-input {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  width: fit-content;
}

.implementation-intention-header, .the-laws-header {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
  width: 94.5%;
  margin-left: auto;
  margin-right: auto;
}

.implementation-intention-input-area, .the-laws-input-area {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: center;
  align-items: center;
}

.implementation-intention-sub-label {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
}

.implementation-intention-input {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  margin-bottom: 1vh;
  color: white;
  margin-left: 1.75rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  width: max;
  height: 4rem;
}

#create-habit-button, .habit-card-window-add-habit-button, .habit-card-window-complete-button, #finish-creating-habit-stack-button, #resist-habit-button {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 1.5rem;
  width: fit-content;
  transition: all 0.2s ease-in-out;
}
#create-habit-button:hover, .habit-card-window-add-habit-button:hover, .habit-card-window-complete-button:hover, #finish-creating-habit-stack-button:hover, #resist-habit-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

#habit-stack-creator-window {
  overflow-y: scroll;
  height: 80%;
}

#habit-stack-area {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  background-color: #DDDDDD;
  margin-top: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
#habit-stack-area::-webkit-scrollbar {
  width: 10px;
}
#habit-stack-area::-webkit-scrollbar-track {
  background: #535353;
}
#habit-stack-area::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.habit-stack-habit {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 1rem;
}

.habit-stack-move-habit-buttons {
  display: flex;
  flex-direction: column;
}

.habit-stack-move-habit-button {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 0px;
  color: white;
  transition: all 0.2s ease-in-out;
}
.habit-stack-move-habit-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.habit-stack-delete-habit-button {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  font-size: 3rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.habit-stack-delete-habit-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.habit-stack-habit-name {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  font-size: 2rem;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  height: 4rem;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.habit-stack-habit-name::-webkit-scrollbar {
  width: 10px;
}
.habit-stack-habit-name::-webkit-scrollbar-track {
  background: #535353;
}
.habit-stack-habit-name::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.habit-stack-habit-creation-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#habit-stack-add-habit-button {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin-top: 2rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 1.5rem;
  width: fit-content;
  transition: all 0.2s ease-in-out;
}
#habit-stack-add-habit-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

#habit-stack-habit-creation-input {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  margin-bottom: 1vh;
  color: white;
  margin-left: 1.75rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  width: 100%;
  height: 4rem;
  margin-top: 2.5rem;
}

#habit-stack-name-input {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  margin-bottom: 1vh;
  color: white;
  background-color: #2C2C2C;
  border-radius: 8px;
  width: 80%;
  height: 4rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

#habit-card-window {
  height: 80%;
}

.habit-card-window-habits-field {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  background-color: #DDDDDD;
  margin-top: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.habit-card-window-habits-field::-webkit-scrollbar {
  width: 10px;
}
.habit-card-window-habits-field::-webkit-scrollbar-track {
  background: #535353;
}
.habit-card-window-habits-field::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.habit-card-habit {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 1rem;
}

.habit-card-habit-delete-button {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  font-size: 3rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.habit-card-habit-delete-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.habit-card-habit-rate-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #2C2C2C;
  height: 100%;
  width: fit-content;
}

.habit-card-habit-rate-button, .habit-card-habit-rate-button-selected {
  flex-grow: 1;
  font-size: 3rem;
  color: white;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.habit-card-habit-rate-button:hover, .habit-card-habit-rate-button-selected:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  background-color: #DDDDDD;
  color: black;
}

.habit-card-habit-rate-button-selected {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  background-color: #DDDDDD;
  color: black;
  transform: translateY(-10px);
}

.habit-card-habit-name {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  flex-grow: 0.85;
  height: 50%;
  color: white;
  background-color: #2C2C2C;
  font-size: 2rem;
  text-align: center;
  max-width: 80%;
}

.habit-card-habit-rate-button-divider {
  border-left: 6px solid #535353;
  border-radius: 8px;
  height: 2rem;
}

/*# sourceMappingURL=habits.css.map */
