html {
  background-color: #2C2C2C;
}

.divider {
  border: 3px solid #535353;
  width: 100%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.vertical-divider {
  border-left: 6px solid #535353;
  border-radius: 8px;
  height: 200px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

@keyframes fly-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.habits-container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4vw;
}
@media (max-width: 480px) {
  .habits-container {
    flex-direction: column;
    height: fit-content;
  }
}

#habits-bar {
  animation: fly-in-left 1s ease;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  height: fit-content;
  min-width: 10vw;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1%;
  overflow-y: auto;
  background-color: #535353;
  color: white;
}
#habits-bar::-webkit-scrollbar {
  width: 10px;
}
#habits-bar::-webkit-scrollbar-track {
  background: #535353;
}
#habits-bar::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width: 480px) {
  #habits-bar {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 100%;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    overflow-x: auto;
    flex-direction: row;
  }
}

.habits-bar-link {
  transition: box-shadow 0.5s ease, font-size 0.5s ease;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 8px;
}
.habits-bar-link:hover {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
  font-size: 28.8px;
}

#happiness-graph {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  height: fit-content;
  width: 35%;
  margin-top: 1vh;
  padding: 1vw;
  border-radius: 8px;
  height: 50%;
  background-color: #535353;
}
@media (max-width: 480px) {
  #happiness-graph {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 100%;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    overflow-x: auto;
  }
}

#daily-rating-window {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  height: clamp(30vh, 50%, 50vh);
  min-width: clamp(30vw, 50%, 50vw);
  margin-top: 1vh;
  padding: 1vw;
  border-radius: 8px;
  background-color: #535353;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
}

.daily-rating-window-exit-button {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1vw;
  font-size: 24px;
  color: white;
  cursor: pointer;
  color: white;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 10px;
}

.daily-rating-window-header {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.daily-rating-input-panel {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  justify-content: center;
}

.daily-rating-input-button {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  width: fit-content;
  transition: all 0.2s ease-in-out;
}
.daily-rating-input-button:hover {
  pointer: cursor;
  transform: translateY(-10px);
}

.current-daily-rating-header {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.current-daily-rating {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.25rem;
  background-color: #2C2C2C;
}

/*# sourceMappingURL=habits.css.map */
