html {
  background-color: #2C2C2C;
}

.divider {
  border: 3px solid #535353;
  width: 100%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.vertical-divider {
  border-left: 6px solid #535353;
  border-radius: 8px;
  height: 200px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

@keyframes fly-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.habits-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4vw;
}
@media (max-width: 480px) {
  .habits-container {
    flex-direction: column;
    height: fit-content;
  }
}

.habits-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 3vw;
}

#habits-bar {
  animation: fly-in-left 1s ease;
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  gap: 1%;
  background-color: #2C2C2C;
  color: white;
}
#habits-bar::-webkit-scrollbar {
  width: 10px;
}
#habits-bar::-webkit-scrollbar-track {
  background: #535353;
}
#habits-bar::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width: 480px) {
  #habits-bar {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 100%;
    height: fit-content;
    overflow-x: auto;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
}

.habits-bar-link {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.2);
  border-radius: 8px;
  font-size: 1.75rem;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.habits-bar-link:hover {
  cursor: pointer;
  transform: translateY(-10px);
  background-color: #DDDDDD;
  color: black;
}

#happiness-graph, .daily-completion, .todo-list {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  height: fit-content;
  width: 90%;
  margin-top: 1vh;
  padding: 1vw;
  border-radius: 8px;
  height: 50%;
  background-color: #2C2C2C;
}
@media (max-width: 480px) {
  #happiness-graph, .daily-completion, .todo-list {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 100%;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    overflow-x: auto;
  }
}

.happiness-graph-header, .daily-completion-header, .todo-list-header {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#daily-rating-window {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  margin-top: 1vh;
  padding: 2rem;
  border-radius: 8px;
  background-color: #2C2C2C;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  height: 75%;
  width: 50%;
  overflow-y: scroll;
}
#daily-rating-window::-webkit-scrollbar {
  width: 10px;
}
#daily-rating-window::-webkit-scrollbar-track {
  background: #535353;
}
#daily-rating-window::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.daily-rating-window-exit-button, .day-info-exit-button, .habit-card-window-exit-button, .habit-stack-creator-window-exit-button, .habit-resistor-window-exit-button, .habit-creator-window-exit-button {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1vw;
  font-size: 24px;
  color: white;
  cursor: pointer;
  color: white;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 10px;
}

.daily-rating-window-header, .habit-card-window-header, .habit-stack-creator-window-header, .habit-resistor-window-header {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.daily-rating-window-sub-header {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.daily-rating-input-panel {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  justify-content: center;
}

.daily-rating-input-button, .daily-rating-input-button-selected {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 10px;
  width: fit-content;
  transition: all 0.2s ease-in-out;
}
.daily-rating-input-button:hover, .daily-rating-input-button-selected:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.daily-rating-input-button-selected {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.2);
  border-radius: 8px;
  background-color: #DDDDDD;
  color: black;
  transform: translateY(-10px);
}

.daily-rating-text-input {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: #2C2C2C;
  border-radius: 8px;
  width: 90%;
  height: 4rem;
  margin-top: 2.5rem;
  border: none;
}

.current-daily-rating-header {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

.current-daily-rating {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.25rem;
  background-color: #2C2C2C;
}

.daily-rating-submit-button {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 5rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 1.5rem;
  width: fit-content;
  transition: all 0.2s ease-in-out;
}
.daily-rating-submit-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

#habit-creator-window, #habit-card-window, #habit-stack-creator-window, #habit-resistor-window {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  height: 90%;
  width: 75%;
  margin-top: 1vh;
  padding: 2rem;
  border-radius: 8px;
  background-color: #2C2C2C;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  overflow-y: scroll;
}
#habit-creator-window::-webkit-scrollbar, #habit-card-window::-webkit-scrollbar, #habit-stack-creator-window::-webkit-scrollbar, #habit-resistor-window::-webkit-scrollbar {
  width: 10px;
}
#habit-creator-window::-webkit-scrollbar-track, #habit-card-window::-webkit-scrollbar-track, #habit-stack-creator-window::-webkit-scrollbar-track, #habit-resistor-window::-webkit-scrollbar-track {
  background: #535353;
}
#habit-creator-window::-webkit-scrollbar-thumb, #habit-card-window::-webkit-scrollbar-thumb, #habit-stack-creator-window::-webkit-scrollbar-thumb, #habit-resistor-window::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.habit-creator-window-header {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#habit-creator-window-name-input, #habit-resistor-window-name-input {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  width: fit-content;
  border: none;
}

.implementation-intention-header, .the-laws-header {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.implementation-intention-input-area, .the-laws-input-area {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: center;
  align-items: center;
}

.implementation-intention-sub-label {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
}

.implementation-intention-input {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  margin-bottom: 1vh;
  color: white;
  margin-left: 1.75rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  width: max;
  height: 4rem;
  border: none;
}

#create-habit-button, .habit-card-window-add-habit-button, .habit-card-window-complete-button, #finish-creating-habit-stack-button, #resist-habit-button {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 1.5rem;
  width: fit-content;
  transition: all 0.2s ease-in-out;
}
#create-habit-button:hover, .habit-card-window-add-habit-button:hover, .habit-card-window-complete-button:hover, #finish-creating-habit-stack-button:hover, #resist-habit-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

#habit-stack-creator-window {
  overflow-y: scroll;
  height: 90%;
}

#habit-stack-area {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  background-color: #2C2C2C;
  margin-top: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
#habit-stack-area::-webkit-scrollbar {
  width: 10px;
}
#habit-stack-area::-webkit-scrollbar-track {
  background: #535353;
}
#habit-stack-area::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.habit-stack-habit {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 1rem;
}

.habit-stack-move-habit-buttons {
  display: flex;
  flex-direction: column;
}

.habit-stack-move-habit-button {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 0px;
  color: white;
  transition: all 0.2s ease-in-out;
}
.habit-stack-move-habit-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.habit-stack-delete-habit-button, .habit-card-habit-delete-button {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  font-size: 2rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.habit-stack-delete-habit-button:hover, .habit-card-habit-delete-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.habit-stack-habit-name {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  font-size: 2rem;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  height: 4rem;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}
.habit-stack-habit-name::-webkit-scrollbar {
  width: 10px;
}
.habit-stack-habit-name::-webkit-scrollbar-track {
  background: #535353;
}
.habit-stack-habit-name::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.habit-stack-habit-creation-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#habit-stack-add-habit-button {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin-top: 2rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 1.5rem;
  width: fit-content;
  transition: all 0.2s ease-in-out;
}
#habit-stack-add-habit-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

#habit-stack-habit-creation-input {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  margin-bottom: 1vh;
  color: white;
  margin-left: 1.75rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  width: 100%;
  height: 4rem;
  margin-top: 2.5rem;
  border: none;
}

#habit-stack-name-input {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  margin-bottom: 1vh;
  color: white;
  background-color: #2C2C2C;
  border-radius: 8px;
  width: 80%;
  height: 4rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

#habit-card-window {
  height: 80%;
}

.habit-card-window-habits-field {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  background-color: #2C2C2C;
  margin-top: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.habit-card-window-habits-field::-webkit-scrollbar {
  width: 10px;
}
.habit-card-window-habits-field::-webkit-scrollbar-track {
  background: #535353;
}
.habit-card-window-habits-field::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.habit-card-habit {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 1rem;
}

.habit-card-habit-add-button {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  font-size: 5rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.2s ease-in-out;
}
.habit-card-habit-add-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.habit-card-habit-rate-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #2C2C2C;
  height: 100%;
  width: fit-content;
}

.habit-card-habit-rate-button, .habit-card-habit-rate-button-selected {
  flex-grow: 1;
  font-size: 3rem;
  color: white;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: #2C2C2C;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.habit-card-habit-rate-button:hover, .habit-card-habit-rate-button-selected:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.2);
  border-radius: 8px;
  background-color: #DDDDDD;
  color: black;
}

.habit-card-habit-rate-button-selected {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.2);
  border-radius: 8px;
  background-color: #DDDDDD;
  color: black;
  transform: translateY(-10px);
}

#habit-card-habit-name-input, .habit-card-habit-name {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  flex-grow: 1;
  height: 70%;
  color: white;
  background-color: #2C2C2C;
  font-size: 2rem;
  text-align: center;
  max-width: 80%;
  overflow-x: scroll;
  border: none;
}
#habit-card-habit-name-input::-webkit-scrollbar, .habit-card-habit-name::-webkit-scrollbar {
  width: 10px;
}
#habit-card-habit-name-input::-webkit-scrollbar-track, .habit-card-habit-name::-webkit-scrollbar-track {
  background: #535353;
}
#habit-card-habit-name-input::-webkit-scrollbar-thumb, .habit-card-habit-name::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.habit-card-habit-rate-button-divider {
  border-left: 6px solid #535353;
  border-radius: 8px;
  height: 2rem;
}

.habit-card-habit {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 1rem;
  background-color: #2C2C2C;
}

.habit-card-habit-rating {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2C2C2C;
  color: white;
  font-size: 3.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.habit-card-habit-input {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  color: white;
  background-color: #2C2C2C;
  width: 92%;
  height: 4rem;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.todo-list-items {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #2C2C2C;
  height: 60%;
  overflow-y: scroll;
}
.todo-list-items::-webkit-scrollbar {
  width: 10px;
}
.todo-list-items::-webkit-scrollbar-track {
  background: #535353;
}
.todo-list-items::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.todo-list-item {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  color: white;
  background-color: #2C2C2C;
  width: 92%;
  height: 4rem;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.todo-list-item-name {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  flex-grow: 1;
  margin-right: 1rem;
}

.todo-list-item-remove-button {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.todo-list-item-remove-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
  background-color: #DDDDDD;
}

.todo-list-input {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  color: white;
  background-color: #2C2C2C;
  width: 92%;
  height: 4rem;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.todo-list-name-input {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  color: white;
  background-color: #2C2C2C;
  width: 80%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0rem;
  margin-right: 1.5rem;
  text-align: center;
  flex-grow: 1;
  border: none;
}

.todo-list-add-item-button {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  background-color: #2C2C2C;
  color: white;
  font-size: 3rem;
  transition: all 0.2s ease-in-out;
}
.todo-list-add-item-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
  background-color: #DDDDDD;
  color: black;
}

.todo-list {
  height: fit-content;
}

#day-info-window {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-top: 1rem;
  background-color: #2C2C2C;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.day-info-day {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.habits-you-want-to-do-widget {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  background-color: #2C2C2C;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  padding: 2rem;
}
.habits-you-want-to-do-widget::-webkit-scrollbar {
  width: 10px;
}
.habits-you-want-to-do-widget::-webkit-scrollbar-track {
  background: #535353;
}
.habits-you-want-to-do-widget::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.habits-you-want-to-do-widget-header {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: max;
  flex-grow: 1;
  background-color: #2C2C2C;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.habits-you-want-to-do-widget-edit-button {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 1.5rem;
  width: fit-content;
  transition: all 0.2s ease-in-out;
}
.habits-you-want-to-do-widget-edit-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.habit-stacks-widget-habit-stacks {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  background-color: #2C2C2C;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 80%;
}

.habits-you-want-to-do-list {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  background-color: #2C2C2C;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: 50vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.habits-you-want-to-do-list::-webkit-scrollbar {
  width: 10px;
}
.habits-you-want-to-do-list::-webkit-scrollbar-track {
  background: #535353;
}
.habits-you-want-to-do-list::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.habits-you-want-to-do-list-item {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  background-color: #2C2C2C;
  height: fit-content;
  color: white;
  text-align: center;
  text-justify: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  overflow-x: scroll;
  width: 30vw;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}
.habits-you-want-to-do-list-item::-webkit-scrollbar {
  width: 10px;
}
.habits-you-want-to-do-list-item::-webkit-scrollbar-track {
  background: #535353;
}
.habits-you-want-to-do-list-item::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.habits-you-want-to-do-list-item:hover {
  cursor: pointer;
  background-color: #DDDDDD;
  color: black;
}

.habits-you-want-to-do-list-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 50rem;
}

.habits-you-want-to-do-list-delete-item-button {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: #2C2C2C;
  border-radius: 8px;
  padding: 1.5rem;
  width: fit-content;
  transition: all 0.2s ease-in-out;
}
.habits-you-want-to-do-list-delete-item-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.habits-you-want-to-do-list-name {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  font-size: 2rem;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: max;
  flex-grow: 1;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow-x: scroll;
}
.habits-you-want-to-do-list-name::-webkit-scrollbar {
  width: 10px;
}
.habits-you-want-to-do-list-name::-webkit-scrollbar-track {
  background: #535353;
}
.habits-you-want-to-do-list-name::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.day-info-tasks-header {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2.5rem;
  color: white;
}

.day-info-tasks {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  overflow-y: scroll;
  width: 90%;
  height: 80%;
  margin-top: 1rem;
}
.day-info-tasks::-webkit-scrollbar {
  width: 10px;
}
.day-info-tasks::-webkit-scrollbar-track {
  background: #535353;
}
.day-info-tasks::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.day-info-tasks-widget {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  height: 40rem;
  overflow-y: scroll;
}
.day-info-tasks-widget::-webkit-scrollbar {
  width: 10px;
}
.day-info-tasks-widget::-webkit-scrollbar-track {
  background: #535353;
}
.day-info-tasks-widget::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.day-info-create-task-section {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 90%;
}

#day-info-create-task-name {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  border: none;
  flex-grow: 1;
  background-color: #2C2C2C;
  font-size: 2rem;
  color: white;
}

.day-info-create-task-button {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  color: white;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
}
.day-info-create-task-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
  background-color: #DDDDDD;
  color: black;
}

.day-info-task {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.day-info-task-name {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  font-size: 2rem;
  flex-grow: 1;
  color: white;
  max-width: 38vw;
  overflow-x: scroll;
}
.day-info-task-name::-webkit-scrollbar {
  width: 10px;
}
.day-info-task-name::-webkit-scrollbar-track {
  background: #535353;
}
.day-info-task-name::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.day-info-task-complete-button {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
}
.day-info-task-complete-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
  background-color: #DDDDDD;
}

/*# sourceMappingURL=habits.css.map */
