@import "./../../css\ modules/variables";

.habits-container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 4vw;

    @media (max-width: $breakpoint) {
        flex-direction: column;
        height: fit-content;
    }
}

#habits-bar {
    @include fly-in-left;
    @include shadow;
    @include styled-scrollbar;
    height: fit-content;
    min-width: 10vw;
    margin-left: 0.5vw;

    display: flex;
    flex-direction: column;
    gap: 1%;
    overflow-y: auto;

    background-color: $dark-slate;
    color: white;

    @media (max-width: $breakpoint) {
        margin-top: 4vh;
        margin-bottom: 4vh;
        width: 100%;
        height: fit-content;
        overflow-x: auto;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }

}

.habits-bar-link {
    @include shadow-text-large-on-hover($original-font-size: 24px);
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 8px;
}

#happiness-graph {
    @include shadow;
    height: fit-content;
    width: 35%;
    margin-top: 1vh;
    padding: 1vw;
    border-radius: 8px;
    height: 50%;
    background-color: $dark-slate;

    @media (max-width: $breakpoint) {
        margin-top: 4vh;
        margin-bottom: 4vh;
        width: 100%;
        height: fit-content;
        margin-right: auto;
        margin-left: auto;
        overflow-x: auto;
    }
}

#daily-rating-window {
    @include shadow;
    height: clamp(fit-content, 50%, 50vh);
    min-width: clamp(fit-content, 50%, 50vw);
    margin-top: 1vh;
    padding: 2rem;
    border-radius: 8px;
    background-color: $dark-slate;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;


}

.daily-rating-window-exit-button {
    position: absolute;
    left: 0;
    top: 0;
    margin: 1vw;
    font-size: 24px;
    color: white;
    cursor: pointer;
    color: white;
    background-color: $very-dark-slate;
    border-radius: 8px;
    padding: 10px;
}


.daily-rating-window-header {
    @include shadow;
    font-size: 3rem;;
    font-weight: bold;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.daily-rating-input-panel {
    @include shadow;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}

.daily-rating-input-button {
    @include shadow;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: $very-dark-slate;
    border-radius: 8px;
    padding: 10px;
    width: fit-content;
    
    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }

    transition: all 0.2s ease-in-out;
}

.current-daily-rating-header {
    @include shadow;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

.current-daily-rating {
    @include shadow;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.25rem;
    background-color: $very-dark-slate;
}

.daily-rating-submit-button {
    @include shadow;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 5rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: $very-dark-slate;
    border-radius: 8px;
    padding: 1.5rem;
    width: fit-content;

    
    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }

    transition: all 0.2s ease-in-out;
}

#habit-creator-window {
    @include shadow;
    @include styled-scrollbar;
    height: 50%;
    width: 50%;
    margin-top: 1vh;
    padding: 2rem;
    border-radius: 8px;
    background-color: $dark-slate;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    overflow-y: scroll;
}

.habit-creator-window-header {
    @include shadow;
    font-size: 3rem;;
    font-weight: bold;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.habit-creator-window-exit-button {
    @extend .daily-rating-window-exit-button;
}

#habit-creator-window-name-input {
    @include shadow;
    font-size: 2.5rem;
    margin-bottom: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    background-color: $very-dark-slate;
    border-radius: 8px;
    width: fit-content;
}

.implementation-intention-header {
    @include shadow;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1vh;
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;
    width: 94.5%;
    margin-left: auto;
    margin-right: auto;
}

.implementation-intention-input-area {
    // I will [BEHAVIOR] at [TIME] in [LOCATION]
    // grid
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    align-items: center;
}

.implementation-intention-sub-label {
    @include shadow;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;
}

.implementation-intention-input {
    @include shadow;
    font-size: 2rem;
    margin-bottom: 1vh;
    color: white;
    margin-left: 1.75rem;
    background-color: $very-dark-slate;
    border-radius: 8px;
    width: max;
    height: 4rem;
}

.the-laws-header {
    @extend .implementation-intention-header;
}

.the-laws-input-area {
    @extend .implementation-intention-input-area;
}

#create-habit-button {
    @include shadow;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    background-color: $very-dark-slate;
    border-radius: 8px;
    padding: 1.5rem;
    width: fit-content;

    
    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }

    transition: all 0.2s ease-in-out;
}