html {
  background-color: #2C2C2C;
}

.divider {
  border: 3px solid #535353;
  width: 100%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.vertical-divider {
  border-left: 6px solid #535353;
  border-radius: 8px;
  height: 200px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

@keyframes fly-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
#settings-box {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  align-items: center;
  margin-top: 7%;
  width: fit-content;
  padding: 2%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
@media (max-width: 480px) {
  #settings-box {
    max-width: 480px;
  }
}

.settings-box-header {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 2%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  color: white;
}
@media (max-width: 480px) {
  .settings-box-header {
    font-size: 24px;
  }
}

.settings-box-input, .change-username-input {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  margin-top: 7%;
  margin-bottom: 7%;
  font-size: 22pt;
  background-color: #2C2C2C;
  padding: 4px;
  transition-property: background-color;
  transition-duration: 0.5s;
  appearance: none;
  border-radius: 8px;
  text-align: center;
  border: none;
}
.settings-box-input:focus, .change-username-input:focus {
  background-color: #535353;
  outline: none;
  color: white;
}
@media (max-width: 480px) {
  .settings-box-input, .change-username-input {
    font-size: 24px;
    margin-top: 4%;
    margin-bottom: 4%;
  }
}

.settings-box-button, .change-email-button, .reset-password-button, .change-username-button {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 10px;
  background-color: #2C2C2C;
  font-size: 32px;
  min-width: fit-content;
  transition: background-color 0.5s ease;
  color: white;
  text-align: center;
  text-justify: center;
}
.settings-box-button:hover, .change-email-button:hover, .reset-password-button:hover, .change-username-button:hover {
  background-color: #535353;
  cursor: pointer;
}

.button-input-pair {
  display: flex;
  justify-content: space-evenly;
  gap: 14px;
  flex-direction: column;
}

@media (min-width: 0px) {
  .change-username-button {
    font-size: 2rem;
  }
}
@media (min-width: 600px) {
  .change-username-button {
    font-size: 2.5rem;
  }
}

.reset-password-button {
  width: fit-content;
  padding: 1rem;
  text-align: center;
}
@media (min-width: 0px) {
  .reset-password-button {
    font-size: 2rem;
  }
}
@media (min-width: 600px) {
  .reset-password-button {
    font-size: 2.5rem;
  }
}

#not-logged-in {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  animation: floating-animation 2s ease-in-out 0s infinite;
  text-align: center;
  font-size: 48px;
  margin-top: 10vh;
  margin-bottom: 0;
  width: fit-content;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  color: #535353;
  font-weight: bold;
  display: none;
}
@keyframes floating-animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.signup-box-logo {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
}

/*# sourceMappingURL=settings.css.map */
