@import "./../../css\ modules/variables";

#settings-box {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    margin-top: 7%;
    width: fit-content;
    padding: 2%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

    @media (max-width: $breakpoint) {
        max-width: $breakpoint;
    }
}

.settings-box-header {
    @include shadow;
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    color: white;
    
    @media (max-width: $breakpoint) {
        font-size: 24px;
    }
}

.settings-box-input {
    @include shadow;
    margin-top: 7%;
    margin-bottom: 7%;
    font-size: 22pt;
    background-color: $very-dark-slate;
    padding: 4px;

    transition-property: background-color;
    transition-duration: 0.5s;
    appearance: none;
    border-radius: 8px;
    text-align: center;
    border: none;

    &:focus {
        background-color: $dark-slate;
        outline: none;
        color: white;
    }

    @media (max-width: $breakpoint) {
        font-size: 24px;
        margin-top: 4%;
        margin-bottom: 4%;
    }
}

.settings-box-button {
    @include shadow;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    background-color: $very-dark-slate;
    font-size: 32px;
    min-width: fit-content;

    transition: background-color 0.5s ease;

    color: white;
    text-align: center;
    text-justify: center;

    &:hover {
        background-color: $dark-slate;
        cursor: pointer;
    }

}

.button-input-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 14px;
    
    @media (max-width: $breakpoint) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.change-username-button {
    @extend .settings-box-button;
    width: 25%;
}


.reset-password-button {
    @extend .settings-box-button;
    width: 84%;
    text-align: center;
}

.change-email-button {
    @extend .settings-box-button;
}

.change-username-input {
    @extend .settings-box-input;
}

#not-logged-in {
    @include shadow;
    @include float;
    text-align: center;
    font-size: 48px;
    margin-top: 10vh;
    margin-bottom: 0;
    width: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    color: $dark-slate;
    font-weight: bold;
    display: none;
}

.signup-box-logo {
    @include shadow;
}
