html {
  background-color: #2C2C2C;
}

.divider {
  border: 3px solid #535353;
  width: 100%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.vertical-divider {
  border-left: 6px solid #535353;
  border-radius: 8px;
  height: 200px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

@keyframes fly-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
#terms-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4vw;
  color: white;
  background-color: red;
}
@media (min-width: 992px) {
  #terms-container {
    flex-direction: row;
  }
}

#terms-bar {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  animation: fly-in-left 1s ease;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-left: 5%;
  margin-right: 5%;
}
#terms-bar::-webkit-scrollbar {
  width: 10px;
}
#terms-bar::-webkit-scrollbar-track {
  background: #535353;
}
#terms-bar::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
@media (min-width: 992px) {
  #terms-bar {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 40vh;
  }
}

.terms-content {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  height: fit-content;
  width: 90%;
  font-size: 2rem;
  background-color: #2C2C2C;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: 1vw;
  animation: load-content 1s ease;
}

@keyframes load-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.term-header {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 4rem;
  color: white;
  margin-top: 20px;
  text-align: center;
  background-color: #2C2C2C;
  padding: 8px;
  min-width: 20vw;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .term-header {
    font-size: 6rem;
  }
}

.term-name {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  color: white;
  transition: all 0.2s ease-in-out;
}
.term-name:hover {
  background-color: #DDDDDD;
  color: black;
  cursor: pointer;
  transform: translateY(-5px);
}

.related-terms-wrapper {
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.related-terms-header {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  background-color: #2C2C2C;
  width: fit-content;
  border-radius: 8px;
  padding: 10px;
  color: white;
  margin-bottom: 25px;
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.related-terms {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 80%;
  overflow-x: scroll;
  margin-left: auto;
  margin-right: auto;
}
.related-terms::-webkit-scrollbar {
  width: 10px;
}
.related-terms::-webkit-scrollbar-track {
  background: #535353;
}
.related-terms::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
@media (min-width: 768px) {
  .related-terms {
    width: 60%;
  }
}

.term-link {
  box-shadow: 0 30px 30px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 15px;
  width: fit-content;
  border-radius: 8px;
  padding: 10px;
  background-color: #2C2C2C;
  color: white;
  font-size: 36px;
  margin-bottom: 25px;
  transition: all 0.2s ease-in-out;
}
.term-link:hover {
  background-color: #DDDDDD;
  color: black;
  cursor: pointer;
  transform: translateY(-5px);
}

/*# sourceMappingURL=terms.css.map */
