@import "./../../../css\ modules/variables";

#habits-calendar {
    @include shadow;
    height: fit-content;
    width: fit-content;
    margin-top: 1vh;
    padding: 3rem;
    border-radius: 8px;
    background-color: $very-dark-slate;

    @media (max-width: $breakpoint) {
        width: 100%;
        padding: 1rem;
    }
    

}

.habits-calendar-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#month-left-button {
    @include shadow;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: $dark-slate;
    color: white;
    &:hover {
        transform: scale(1.15);
        cursor: pointer;
    }

    transition: all 0.2s ease;
}

#month-right-button {
    @extend #month-left-button;
}

.days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
    justify-content: center;
    height: fit-content;
}

.month-label {
    @include shadow;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: fit-content;
    height: fit-content;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 3rem;
    color: white;
}

.week-day-label {
    @include shadow;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    color: white;

    @media (max-width: $breakpoint) {
        font-size: 0.5rem;
    }
}

@keyframes fly-in-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
    
}

.calendar-day {
    @include shadow;
    @include shadow-text-large-on-hover($original-font-size: 2rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    background-color: $very-dark-slate;
    color: white;
    height: 5rem;
    width: max;
    font-size: 1.5rem;

    &:hover {
        transform: scale(1.15);
        cursor: pointer;
    }

    transition: all 0.2s ease;

    @media (max-width: $breakpoint) {
        height: 3rem;
        width: 3rem;
        font-size: 1.5rem;
    }
}

.calendar-day-today {
    background-color: #68B2A9;
    color: black;
}

.fly-in-from-bottom {
    animation: fly-in-from-bottom 0.5s ease;
}

.fly-in-from-top {
    animation: fly-in-from-top 0.5s ease;
}

.fly-in-from-left {
    animation: fly-in-from-left 0.5s ease;
}

.fly-in-from-right {
    animation: fly-in-from-right 0.5s ease;
}

@keyframes fly-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fly-in-from-left {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fly-in-from-right {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.empty-calendar-cell {
    @include shadow;
    background-color: $very-dark-slate;
    border-radius: 8px;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



