.home-description {
    color: skyblue;
    animation: description-animation;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-duration: 2s;
}

.home-header {
    animation: header-animation;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-duration: 1s;
}

@keyframes header-animation {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes description-animation {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    50% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}