@import "./../../css\ modules/variables";
.nav-link {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    column-span: 1;
    color: black;
    font-size: 2rem;

    &:hover {
        cursor: pointer;
    }


}

.nav-seperator {
    column-span: 2;
}

#div-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: min-content;
    width: 75%;
   
    border-radius: 8px;
    margin: auto;
    margin-bottom: 2.5vh;

    font-size: 36px;
    font-weight: bold;

    @media (max-width: $breakpoint) {
        @include shadow;
        flex-direction: column;
        display: none;
    }



}


#nav-button {
    display: none;
    width: 100px;
    height: 100px;

    @media (max-width: $breakpoint) {
        display: block;
    }
}

